* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins","sans";
}
:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --box-color: #313131;
    --text-color: white;
    --main-color: #00ffee;
    --s: 32vw;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 4px;    /* the gap */
    --c: #4ECDC4; /* the color */
}

html {
    font-size: 60%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 4rem 12% 4rem;
     background: rgba(0, 0, 0, 0.3);
     backdrop-filter: blur(10px);
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 5;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span {
    text-shadow: 0 0 25px var(--main-color)
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 15rem;
}
.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span {
    color: var(--main-color);
}
.logo span {
    color: var(--main-color);
}
.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img {
    border-radius: 50%;
}
.home-img img {
    aspect-ratio: 0;
    outline: calc(var(--s)/2) solid rgba(0, 0, 0, 0.301);
    outline-offset: calc(var(--s)/-2);
    transition: 0.3s;
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 20px var(--main-color);
}
.home-img img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    outline-style: outset;
    position: relative;
}
.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.0;
    max-width: 1000;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #080808;
    border: 2px solid transparent;
    letter-spacing: 0,1rem;
    font-weight: 600;
    transition: 0.3 ease-in-out;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: #080808;
    color:var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
    transition: ease-in-out 0.2s;
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: #000000;
}

@keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "D"; }
    2.2791%, 25.0698% { content: "De"; }
    3.4186%, 23.9302% { content: "Dev"; }
    4.5581%, 22.7907% { content: "Deve"; }
    5.6977%, 21.6512% { content: "Devel"; }
    6.8372%, 20.5116% { content: "Develo"; }
    7.9767%, 19.3721% { content: "Develop"; }
    9.1163%, 18.2326% { content: "Develope"; }
    10.2558%, 17.0930% { content: "Developer"; }
  
    30.7674%, 55.2791% { content: ""; }
    31.9070%, 54.1395% { content: "T"; }
    32.0465%, 53.0000% { content: "Te"; }
    33.1860%, 52.8605% { content: "Tec"; }
    34.3256%, 51.7209% { content: "Tech"; }
    35.4651%, 50.6239% { content: "Tech "; }
    36.6047%, 49.4419% { content: "Tech L"; }
    37.6047%, 48.3859% { content: "Tech Lo"; }
    38.6047%, 47.2456% { content: "Tech Lov"; }
    39.9047%, 46.1423% { content: "Tech Love"; }
    40.9047%, 45.9945% { content: "Tech Lover"; }
  
    54.6977%, 78.2093% { content: ""; }
    55.8372%, 77.0698% { content: "F"; }
    56.9767%, 76.9302% { content: "Fr"; }
    58.1163%, 75.7907% { content: "Free"; }
    59.2558%, 74.6512% { content: "Freel"; }
    60.3953%, 73.5116% { content: "Freela"; }
    61.5349%, 72.3721% { content: "Freelan"; }
    62.5349%, 71.2234% { content: "Freelanc"; }
    63.5349%, 70.3721% { content: "Freelance"; }
    64.5349%, 69.3346% { content: "Freelancer"; }
  
    78.6279%, 98.8605% { content: ""; }
    79.7674%, 97.7209% { content: "S"; }
    80.9070%, 96.5814% { content: "St"; }
    82.0465%, 95.4419% { content: "Stu"; }
    83.1860%, 94.3023% { content: "Stud"; }
    84.3256%, 93.1628% { content: "Stude"; }
    85.3256%, 92.2451% { content: "Studen"; }
    86.3256%, 91.5032% { content: "Student"; }
  }

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    white-space: nowrap;
}
.text-animation span {
    position: relative;
}
.text-animation span::before {
    content: "";
    color: var(--main-color);
    animation: typing 12s infinite;
}
.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: relative;
    height: 100%;
    left: 5px;
    border-left: 3px solid  var(--bg-color);
    animation: cursor 0.6s infinite;
}

@media (prefers-reduced-motion) {
    .text-animation span::after {
        animation: none;
    }
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}
.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;  
}
.education {
    padding: 100px 15px;
    background: var(--second-bg-color); 
}
.education h2 {
    margin-bottom: 5rem;
}
.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child {
    margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}
.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    margin: 6px 0 15px;
}
.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3 ease-in-out;
}
.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar { 
    width: 10px;
}
::-webkit-scrollbar-thumb { 
    border-radius: 10px;
    background-color: var(--main-color);
    background-image: -webkit-linear-gradient(top,
											  #e4f5fc00 0%,
											  #bfe7f97c 50%,
											  #9fd8ef91 51%,
											  #2aafede1 100%);                                              
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #2e2d2d; 
}


.services {
    background: var(--bg-color);
    color: #000000;
}
.services h2 {
    margin-bottom: rem;
    color: #ffffff;
}
.services-container {
    display: grid;
    grid-template-columns: repeat();
    align-items: center;
    gap: 2.5rem;
}
.service-box {
    background-color: var(--box-color);
    color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    text-align: center;
}
.service-box:hover {
    background: var(--main-color);
    color: var(--box-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
    .service-info i {
        color: var(--box-color)
    }
}
.services-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5 rem;
}
.service-info h4 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}
.service-info p {
    font-size: 1.2rem;
    font-weight: 600;
    max-height: 1.7;
    margin: auto;
}
.service-info i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
    background: transparent;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    font-size: 5.5rem;
    color: var(--main-color);
    margin: 14rem auto;
    transition: 0.3s ease-in-out;
    transform-style: preserve-3d;
}
.contact {
    background-color: var(--bg-color);
}
.contact h2 {
    margin-bottom: 3rem;
    color: #ffffff;
}
.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
}
.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn {
    margin-top: 2rem;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    padding: 7px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: #000000;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: #ffffff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

@media(max-width:1285px) {
    html {
        font-size: 55%;
    }
    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before {
        left: 7px;
    }
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    .timeline-dot {
        left: 0;
    }
    .services {
        padding-bottom: 7rem;
    }
    .services-box {
        flex: auto;
    }
    .contact form {
        flex-direction: column;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media(max-width:895px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #ffffff;
    }
    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img {
        width: 56vw;
        outline: calc(56vw/2) solid rgba(0, 0, 0, 0.301);
        outline-offset: calc(56vw/-2);
    }
    .services h2 {
        margin-bottom: 3rem;
    }
    .services-container {
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width:420px) {
    html {
        font-size: 33%;
    }
    .home {
        margin-top: -170px;
    }
    .home-content {
        width: 230px;
    }
    .home-content h1 {
        font-size: 37px;
        font-weight: 900;
    }
}
@media(max-height:742px) {
    .home-img img {
        position: relative;
        margin-top: 40rem;
    }
}